<%- include("../partials/header") %>

<div class="row">
	<div class="col-md-3">
		<p class="lead">Location</p>
		<div id="map"></div>
	</div>
	<div class="col-md-9">
		<div class= "card mb-3">
			<img class="card-img-top" src="<%= campground.image %>" alt="<%= campground.name %>">
			<div class= "card-body">
				<p class="float-right">$<%= campground.price %>/night</p>
				<h5 class="card-title"><%= campground.name %></h5>
				<p>
					<em>Submitted By <a href="/users/<%= campground.author.id %>"><%= campground.author.username %></a>, <%= moment(campground.createdAt).fromNow() %></em>
				</p>
				<div class="float-right">
					<button type="button" class="btn btn-sm btn-primary" data-toggle="modal"
									data-target="#campgroundLikes">
							<span>Total likes: <i class="fas fa-thumbs-up"></i> <%= campground.likes.length %></span>
					</button>
				</div>
				<div style="padding-bottom: 10px;">
					<form action="/campgrounds/<%= campground._id %>/like" method="POST">
							<div class="btn-group">
									<% if (currentUser && campground.likes.some(function (like) {
											return like.equals(currentUser._id)
									})) { %>
											<button class="btn btn-sm btn-primary">
													<i class="fas fa-thumbs-up"></i> Liked (<%= campground.likes.length %>)
											</button>
									<% } else { %>
											<button class="btn btn-sm btn-secondary">
													<i class="fas fa-thumbs-up"></i> Like (<%= campground.likes.length %>)
											</button>
									<% } %>
									<button type="button" class="btn btn-sm btn-light" data-toggle="modal"
													data-target="#campgroundLikes">See more details
									</button>
							</div>
					</form>
				</div>

				<!-- Campground Likes Modal -->
				<div id="campgroundLikes" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<!-- Modal content-->
						<div class="modal-content">
							<div class="modal-header">
								<h4 class="modal-title" id="exampleModalLabel">Campground likes: <%= campground.likes.length %></h4>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<table class="table table-striped">
									<thead>
									<tr>
										<th>Liked by:</th>
									</tr>
									</thead>
									<tbody>
									<% campground.likes.forEach(function(like) { %>
										<tr>
											<td><span class="badge"><i class="fas fa-user"></i></span> <%= like.username %></td>
										</tr>
									<% }); %>
									<% if (campground.likes.length === 0) { %>
										<tr>
											<td><em>No likes yet.</em></td>
										</tr>
									<% } %>
									</tbody>
								</table>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							</div>
						</div>
					</div>
				</div>

				<hr>
				<p class="card-text"><%= campground.description %></p>
				<% if (currentUser && (campground.author.id.equals(currentUser._id) || currentUser.isAdmin)) { %>
					<a class="btn btn-sm btn-warning" href="/campgrounds/<%= campground._id %>/edit">Edit</a>
					<form class="delete-form" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
						<button class="btn btn-sm btn-danger">Delete</button>
					</form>
				<% } %>                
			</div>
		</div>
    <div class="row">
      <div class="col-md-12 mb-2">
        <div class="card mb-2">
          <% campground.comments.forEach( (comment) => { %>
            <div class="card-body">
              <div class="float-left">
                <p class="card-title"><strong><%= comment.author.username %></strong></p>
                <p class="card-text"><%= comment.text %></p>
              </div>
              <div class="float-right">
                <p><%= moment(comment.createdAt).fromNow() %></p>
                <% if (currentUser && (comment.author.id.equals(currentUser._id) || currentUser.isAdmin)) { %>
                  <div class="float-right">
                    <a class="btn btn-sm btn-warning" 
                      href="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>/edit">Edit</a>
                    <form class="delete-form" action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                      <input type="submit" class="btn btn-sm btn-danger" value="Delete">
                    </form>
                  </div>
                <% } %>
              </div>
            </div>
          <% }) %>
        </div>
        <form action= "/campgrounds/<%= campground._id %>/comments" method="POST">
          <div class="mb-2">            
              <input class="form-control" type="text" name="comment[text]" placeholder="New comment goes here">
          </div>
          <div class="col-xs-8 col-sm-6 col-md-6 col-lg-4">
              <button class="btn btn-lg btn-primary btn-block">Submit Comment</button>
          </div>
        </form>
      </div>
    </div>
	</div>
</div>

<script>
	function initMap() {
		let lat = <%= campground.lat %>;
		let lng = <%= campground.lng %>;
		let center = {lat: lat, lng: lng };
		let map = new google.maps.Map(document.getElementById('map'), {
			zoom: 8,
			center: center,
			scrollwheel: false
		});
		let contentString = `
			<strong><%= campground.name %><br />
			<%= campground.location %></strong>
			<p><%= campground.description %></p>
		`
		let infowindow = new google.maps.InfoWindow({
			content: contentString
		});
		let marker = new google.maps.Marker({
			position: center,
			map: map
		});
		marker.addListener('click', function() {
			infowindow.open(map, marker);
		});
	}
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwEOAvtYqqfWWyKLe2fg6pl9N-Ox_iWXY&callback=initMap"></script>  

<%- include("../partials/footer") %>
